.venv/
__pycache__/
*.pyc
.idea/

.env
.opencode/
AGENTS.md
plan_proyecto.md
**/__pycache__/
**/*.pyc
miner/__pycache__/
miner/scanners/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*-checkpoint.ipynb

Planificacion02.md
Planificacion03.md
Planificación01.md

UML.md
UMLChatGPT.md
UMLClaude.md
UMLDeepseek.md

Proyecto1.md
Como-Usar.md

InstruccionesVisualizer.md
EjemploVisualizer/
EjemploVisualizer/EjemploCSS.css
EjemploVisualizer/EjemploHTML.html
EjemploVisualizer/EjemploJS01.js
EjemploVisualizer/EjemploJS02.js
# Ignorar archivos residuales SARIF


*.sarif
